USE [TBIG]
GO
/****** Object:  Table [dbo].[AgrmntInsurHdr]    Script Date: 11/3/2014 8:27:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgrmntInsurHdr](
	[ID] [bigint] NOT NULL,
	[AgrmntID] [bigint] NULL,
	[InsCoyOfficeID] [bigint] NULL,
	[DtmUpd] [datetime] NULL,
	[UsrUpd] [nvarchar](20) NULL,
	[DtmCrt] [datetime] NULL,
	[UsrCrt] [nvarchar](20) NULL,
 CONSTRAINT [PK_AgrmntInsurHdr] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [AgrmntInsurance]
) ON [AgrmntInsurance]

GO
ALTER TABLE [dbo].[AgrmntInsurHdr]  WITH CHECK ADD  CONSTRAINT [FK_AgrmntInsurHdr_Agrmnt] FOREIGN KEY([AgrmntID])
REFERENCES [dbo].[Agrmnt] ([ID])
GO
ALTER TABLE [dbo].[AgrmntInsurHdr] CHECK CONSTRAINT [FK_AgrmntInsurHdr_Agrmnt]
GO
