<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTPServer" value="mail.ad-ins.com"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceWCF" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Adibrata.WCF/ServiceWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceWCF"
        contract="ServiceWCF.IServiceWCF" name="BasicHttpBinding_IServiceWCF" />
    </client>
  </system.serviceModel>

</configuration>