<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
        <add key="SMTPServer" value="mail.ad-ins.com"/>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://maximus-pc/Adibrata.WCF/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="ServiceReference1.IService1" name="BasicHttpBinding_IService1" />
    </client>
  </system.serviceModel>
  <system.serviceModel>
    
  </system.serviceModel>
</configuration>