<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTPServer" value="mail.ad-ins.com"/>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServiceWCF" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_IService11" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/Adibrata.WCF/ServiceWCF.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceWCF"
        contract="ServiceWCF.IServiceWCF" name="BasicHttpBinding_IServiceWCF" />
      <endpoint address="http://localhost/AdibrataWF.WCF/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="AdibrataWF.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://localhost:52385/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IService11" contract="ServiceReference1.IService1"
        name="BasicHttpBinding_IService11" />
    </client>
  </system.serviceModel>

</configuration>