<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Adibrata.Report.Template.Properties.Settings.ReportAsyncConnectionString"
            connectionString="Data Source=.;Initial Catalog=TBIG;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>